.login {
  margin-top: 10px;
  /* background-color: black; */
}
.login h1 {
  text-align: center;
  color: rgba(39, 38, 38, 0.991);
}
.form {
  width: 50%;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
}

.button {
  width: 100%;
}
